body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #f0e8f9;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#sidebar {
    font-size: 1.3rem;
    font-weight: bold;
}

#sidebar .main {
    font-size: 1.5rem;
}

#sidebar a {
    color: rgb(143, 143, 143);
}

#sidebar img {
    border-radius: 13px;
    box-shadow: -4px 4px 4px #808080;
}

.section {
    margin-left: 20%;
}

.bi {
    cursor: pointer;
}

#product-image>img,
#image-default>img {
    width: auto;
    height: 150px;
    /* 고정 (반응형X) 이미지 깨짐 => 수정 */
}

.help {
    font-size: 0.8rem;
    color: blueviolet;
}

.bi-asterisk {
    font-size: 0.3rem;
    color: rgb(254, 104, 104);
}

#delete-check-btn {
    margin: 3px 0 0 -15px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.page-item .page-link {
    border: 1px solid #f5f5dc;
    color: #333;
}

.page-item .page-link  span{
    color: #d5d59c;
}

.page-item .page-link.active {
    background: #f5f5dc;
    border: 1px solid #f5f5dc;
}