<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Re: birth</title>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="./admin.css" />
  </head>
  <body>
    <div id="container">
      <div id="sidebar-container"></div>

      <!-- 본문 -->
      <div class="section p-5">
        <div class="title mb-2">
          <h2>상품 목록</h2>
        </div>
        <div class="p-state">
          <p class="total"></p>
        </div>
        <div class="p-delete">
          <button type="button" class="pro-delete btn btn-secondary btn-sm">삭제</button>
        </div>
        <div class="board pt-2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><input class="form-check-input" type="checkbox" id="check-all" /></th>
                <th scope="col">상품코드</th>
                <th scope="col">카테고리</th>
                <th scope="col">이미지</th>
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
                <th scope="col">옵션</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <!-- 상품 목록 -->
            <tbody id="table-body"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="./sidebar.js" type="module"></script>
    <script src="./product/product.js" defer></script>
  </body>
</html>
