<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Re: birth</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet" />
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/views/category/category.css" />
  <!-- <link rel="stylesheet" href="/views/component/style.css" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</head>


<body>
  <div id="header-container"></div>

  <!-- 컨텐츠 컨테이너 -->
  <main class="container">
    <!-- 카테고리 컨테이너 -->
    <div>
      <ul class="categories-container"></ul>
    </div>
    <!-- 베스트 프로덕트 카드 -->
    <div>
      <!-- 베스트 프로덕트 카드 타이틀 -->
      <div class="best-products-title">Best</div>
      <div class="best-product-button-container">
        <!-- BestProductList Component Render -->


        <!-- 카테고리 컨테이너 -->
        <div class="categories-container"></div>


        <!-- 베스트 프로덕트 카드 -->
        <div>
          <!-- 베스트 프로덕트 타이틀 -->
          <div class="best-products-title">
            Best
          </div>


          <!-- 베스트 프로덕트 리스트 컴포넌트 렌더 -->
          <div class="best-product-button-container">
          </div>
        </div>
      </div>

      <!-- 메인 프로덕트 -->
      <!-- 메인 프로덕트 리스트 컴포넌트 렌더 -->
      <div class="products-container"></div>
  </main>

  <!-- 푸터 -->
  <div id="footer-container"></div>

  <script src="/views/component/header.js" defer></script>
  <script src="/views/component/footer.js" defer></script>
  <script type="module" src="/views/category/category.js" defer></script>
</body>

</html>