.pagination {
  --bs-pagination-active-bg: #f5f5dc;
  --bs-pagination-active-border-color: #f5f5dc;
  --bs-pagination-border-color: #f5f5dc;
  --bs-pagination-color: #333;
  --bs-pagination-hover-color: #333;
}

.table {
  --bs-table-bg: none;
}

.table > :not(caption) > * > * {
  padding: 20px;
}

/* 주문조회 공통 css */

.order-wrap {
  width: 100%;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

#bag-icon {
  display: block;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 40px;
}

.btn {
  margin: 5px !important;
}

.order-count {
  margin-top: 30px;
  margin-left: 10px;
}

#tr-head {
  background-color: #f4f4f4;
}

/* 페이지네이션 */

.page-item-container li .page-link {
  color: #333;
}

.page-item-container > li {
  cursor: pointer;
}

.page-link {
  border-left: none;
}

.page-item > a {
  border-left: 1px solid #f5f5dc;
}
.next .page-link span {
  color: #d5d59c;
}
.prev .page-link span {
  color: #d5d59c;
}
.page-item-container {
  display: flex;
}

/* .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.order-img > img {
    width: 150px;
}