<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/views/css/createAccount.css">
    <title>Create Accout</title>
</head>

<body>
    <!-- 헤더 -->
    <header>
        Header
    </header>

    <form id="register-form" action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td> 아이디 </td>
                    <td><input type="text" class="id"></td>
                </tr>
                <tr>
                    <td> 이름 </td>
                    <td><input type="text" class="name"></td>
                </tr>
                <tr>
                    <td> 비밀번호 </td>
                    <td><input type="password" class="password"></td>
                </tr>
                <tr>
                    <td> 역할 </td>
                    <td><input type="text" class="role"></td>
                </tr>
                <tr>
                    <td> 주소 </td>
                    <td><input type="text" class="address"></td>
                </tr>
                <tr>
                    <td> 휴대폰 번호 </td>
                    <td><input type="number" class="phone-number"></td>
                </tr>
                <tr>
                    <td> 이메일 </td>
                    <td><input type="text" class="email"></td>
                </tr>
                <tr>
                    <td><input id="data-submit" type="submit" value="가입하기"></td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- 푸터 -->
    <footer class="footer">
        Footer
    </footer>
    <script src="/views/js/Login/createAccount.js"></script>
</body>

</html>