<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/views/css/login.css">
</head>

<body>
    <!-- 헤더 -->
    <header>
        Header
    </header>

    <!-- 컨테이너 -->
    <main class="container">

        <!-- 로그인 컨테이너 -->
        <div class="login-container">

            <!-- 아이디 입력란 -->
            <input type="text" placeholder="아이디">

            <!-- 비밀번호 입력란 -->
            <input type="password" placeholder="비밀번호">

            <!-- 로그인 버튼 컨테이너 -->
            <div class="login-button-container">
                <!-- 로그인 버튼 -->
                <button type="button" class="btn btn-dark" class="login-button">로그인</button>
            </div>

            <!-- 회원가입 -->
            <div class="create-account">
                <a href=""><span>회원가입</span></a>
            </div>
        </div>

        <!-- 로그인 form -->
        <form action="#" method="post" onsubmit="return check()">

        </form>

    </main>
    <!-- 푸터 -->
    <footer class="footer">
        Footer
    </footer>
    <!-- type="module"  -->
    <script src="/views/js/Login/login.js"></script>
</body>

</html>