<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="register-form" action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td> 아이디 </td>
                    <td><input type="text" class="id"></td>
                </tr>
                <tr>
                    <td> 이름 </td>
                    <td><input type="text" class="name"></td>
                </tr>
                <tr>
                    <td> 비밀번호 </td>
                    <td><input autocomplete="on" type="password" class="password"></td>
                </tr>
                <tr>
                    <td> 역할 </td>
                    <td><input type="text" class="role"></td>
                </tr>
                <tr>
                    <td> 주소 </td>
                    <td><input type="text" class="address"></td>
                </tr>
                <tr>
                    <td> 휴대폰 번호 </td>
                    <td><input type="number" class="phone-number"></td>
                </tr>
                <tr>
                    <td> 이메일 </td>
                    <td><input type="text" class="email"></td>
                </tr>
                <tr>
                    <td><input id="data-submit" type="submit" value="가입하기"></td>
                </tr>
            </tbody>
        </table>
    </form>

    <script src="../../js/Login/test.js"></script>
</body>

</html>