<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shoppingMall</title>
    <link rel="stylesheet" href="./product.css" />
    <link rel="stylesheet" href="../component/style.css" />
    <title>Re: birth</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <script src="./product.js" defer></script>
  </head>

  <body>
    <div id="header-container" class="z-1"></div>
    <div id="wrap">
      <div id="content">
        <div id="product-detail-container">
          <div id="product-image"></div>
          <div id="fix-option">
            <div id="product-options">
              <div id="product-info">
                <h1 id="product-name"></h1>
                <p id="product-price"></p>
              </div>
              <div id="option-selections">
                <div id="color-option" class="row">
                  <label for="color" class="col-4">COLOR</label>
                  <select id="color-selector" class="form-select col" aria-label="Default select example">
                    <option value="none">- [필수] 옵션을 선택해주세요 -</option>
                    <option value="none" disabled>---------------------------------</option>
                  </select>
                </div>
                <div id="size-option" class="row">
                  <label for="size" class="col-4">SIZE</label>
                  <select id="size-selector" class="form-select col" aria-label="Default select example">
                    <option value="none">- [필수] 옵션을 선택해주세요 -</option>
                    <option value="none" disabled>---------------------------------</option>
                  </select>
                </div>
              </div>
              <div id="selected-option">
                <table border="0">
                  <colgroup>
                    <col style="width: auto" />
                    <col style="width: 80px" />
                    <col style="width: 110px" />
                    <col style="width: 25px" />
                  </colgroup>
                  <tbody id="selected-list"></tbody>
                </table>
              </div>
              <div id="total-details" class="py-2">
                <strong>TOTAL</strong>(수량)
                <span> <strong class="total-price">0원</strong>(0개) </span>
              </div>
              <div id="product-actions" class="justify-content-center">
                <button type="button" id="buy-now-button" class="btn btn-dark btn-lg">BUY NOW</button>
                <button type="button" id="add-to-cart-button" class="btn btn-light btn-lg">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <div id="product-description-container">
          <h4>상품 상세 정보</h4>
          <div id="product-description" class="py-3"></div>
        </div>
      </div>
    </div>
    <div id="footer-container"></div>
    <script src="../component/header.js" defer></script>
    <script src="../component/footer.js" defer></script>
  </body>
</html>
