body {
  background-image: url(https://ifh.cc/g/on2TjH.jpg);
  background-size: cover;
  height: 100dvh;
  display: flex;
  align-items: center;
  position: relative;
}

.login-wrap {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 10px;
  max-width: 740px;
  min-height: 370px;
  margin-left: 10%;
  background-color: rgba(249, 248, 244, 0.831);
  box-shadow:
    0 20px 20px 0 rgba(0, 0, 0, 0.571),
    0 20px 50px 0 rgba(0, 0, 0, 0.19);
}

a {
  color: inherit;
}

.login-html {
  height: 100%;
  position: relative;
  padding: 25px 40px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}

.login-html .sign-in,
.login-html .sign-up {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .tab {
  font-size: 24px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #464646;
  font-weight: bold;
  border-color: #ffffc7;
}

.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: rgb(253, 253, 199);
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.333);
}

.login-form .group .label {
  color: #3b3b3b;
  font-size: 15px;
}
.login-form .group .button {
  background: #3b3b3b;
}

.sign-up-htm input::placeholder {
  color: rgba(245, 245, 220, 0.475);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.input,
.button {
  height: 45px;
}

#send,
#verification {
  background-color: beige;
  color: #3b3b3b;
  width: 130px;
}
