<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re: birth</title>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/views/component/style.css">
    <link rel="stylesheet" href="/views/mypage/mypage.css">
</head>

<body>
    <!-- 헤더 -->
    <div id="header-container"></div>

    <!-- 메인 컨테이너 -->
    <div class="main-container">

        <!-- 마이페이지 카테고리 컨테이너-->
        <div class="mypage-category-container">

            <!-- 마이페이지 카테고리 -->
            <div class="mypage-category">
                <button class="getInfo-category">회원 정보 조회</button>
                <button class="changeInfo-category">회원 정보 수정</button>
                <button class="deleteInfo-category">회원 정보 삭제</button>
                <button class="logout">로그아웃</button>

            </div>
        </div>

        <!-- 마이페이지 컨트롤 컨테이너-->
        <div class="mypage-controller-container">

            <!-- 마이페이지 정보 컨테이너 -->
            <div class="mypage-info-container">
                <span>
                    정보를 성공적으로 불러왔습니다.
                </span>
            </div>
        </div>
    </div>

    <!-- 뿌터 -->
    <div id="footer-container"></div>

    <script type="module" src="/views/component/header.js" defer></script>
    <script type="module" src="/views/component/footer.js" defer></script>
    <script type="module" src="/views/mypage/mypage.js" defer></script>
</body>

</html>