.bottom-total-container {
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.total-header-wrap {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dotted #888;
  /* font-size: 16px; */
  font-weight: bold;
}


.total-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.total-data-wrap {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-data-wrap .goods-price {

  padding-left: 8%;
}

.total-data-wrap .total-price {
  padding-right: 8%;
} 

