<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/category.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <title>Upcycling</title>
</head>

<body>
    <header>
        Header
    </header>

    <div class="categories-container">
        <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">Top</a></li>
            <li><a href="#">Outer</a></li>
            <li><a href="#">Bottom</a></li>
            <li><a href="#">Dress</a></li>
            <li><a href="#">Bag</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Hat</a></li>
            <li><a href="#">Acc</a></li>
            <li><a href="#">ETC</a></li>
        </ul>
    </div>


    <div class="best-products-title">
        <a href="#">
            Best
        </a>
    </div>


    <div class="best-products-container">
        <ul class="best-products-slide">
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="best1"></a><span class="product-name">echo bag1</span><span class="product-price">10,000₩</span></li>
            <li><a href="#"><img src="/static/images/imgtest2.jpeg" alt="best2"></a><span class="product-name">echo bag2</span><span class="product-price">20,000₩</span></li>
            <li><a href="#"><img src="/static/images/imgtest3.jpeg" alt="best3"></a><span class="product-name">echo bag3</span><span class="product-price">30,000₩</span></li>
            <li><a href="#"><img src="/static/images/imgtest4.jpeg" alt="best4"></a><span class="product-name">echo bag4</span><span class="product-price">40,000₩</span></li>
        </ul>
    </div>

    


    <div class="twenty-products-title">
        <a href="#">
            20 ITEMS
        </a>
    </div>


    <div class="twenty-products-container">
        <ul>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
            <li><a href="#"><img src="/static/images/imgtest1.jpeg" alt="#"></a></li>
        </ul>
    </div>
    <script src="/static/js/category.js"></script>

</body>

</html>