<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="/views/css/category.css"> -->
    <link rel="stylesheet" href="/views/css/category.css">
</head>

<body>
    <header>
        Header
    </header>
    <div class="container">
        <!-- 카테고리 컨테이너 -->
        <div>
            <ul class="categories-container">

            </ul>
        </div>


        <!-- 베스트 프로덕트 카드 타이틀 -->
        <div class="best-products-title">
            Best
        </div>


        <!-- 베스트 프로덕트 카드 -->
        <div>
            <div class="best-product-button-container">
                <button type="button"><img src="./swipericon/002-prev.png" alt="prev"
                        class="swiper-prev-controller"></button>
                <div class="best-products-container">
                    <ul class="best-products-swipe">

                    </ul>
                </div>
                <button type="button"><img src="./swipericon/001-next.png" alt="next"
                        class="swiper-next-controller"></button>
            </div>
        </div>


        <div class="products-container">

        </div>
    </div>
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/catalin-fertu" title="Catalin Fertu">Catalin
            Fertu</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


    </div>



    <footer class="footer">
        Footer
    </footer>

    <!-- <script src="/static/js/category.js"></script> -->
    <script src="/views/js/Category/category.js"></script>
    <script type="module" src="/views/js/Category/category.js"></script>
</body>

</html>